body {
  background: #fff
}

.ui.loading.segment:before {
  background: transparent;
}

.ui.secondary.menu .active.item {
  font-weight: bold;
}

.ui.fullscreen.modal {
  left: 2.5% !important;
}

.ui.table thead tr:first-child > th {
  position: sticky !important;
  top: 4.3rem;
  z-index: 2;
}

.ui.sortable.table thead th.sorted {
  background: #f9fafb;
}

.ui.sortable.table thead th:hover {
  opacity: 1;
  background: #f9fafb;
}

.ui.sortable.table thead th.sorted:hover {
  opacity: 1;
  background: #f9fafb;
}
