body {
  background: #f0f8f9
}

.ui.loading.segment:before {
  background: transparent;
}

.ui.secondary.menu .active.item {
  font-weight: bold;
}

.ui.fullscreen.modal {
  left: 2.5% !important;
}

.ui.table thead tr:first-child > th {
  position: sticky !important;
  top: 0;
  z-index: 2;
}

.ui.table thead tr:nth-child(2) > th {
  position: sticky !important;
  top: 3.4rem;
  z-index: 2;
}

.ui.sortable.table thead th.sorted {
  background: #f9fafb;
}
